@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Animaciones Marquesina */
@keyframes marquesina {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquesina {
  animation: marquesina 40s linear infinite;
}

@keyframes marquesina-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-marquesina-reverse {
  animation: marquesina-reverse 45s linear infinite;
}

/* Pausa al pasar el mouse */
.animate-marquesina:hover,
.animate-marquesina-reverse:hover {
  animation-play-state: paused;
}