@import "tailwindcss";



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Animaciones Marquesina */
@keyframes marquesina {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquesina {
  animation: marquesina 40s linear infinite;
}

@keyframes marquesina-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-marquesina-reverse {
  animation: marquesina-reverse 45s linear infinite;
}

/* Pausa al pasar el mouse */
.animate-marquesina:hover,
.animate-marquesina-reverse:hover {
  animation-play-state: paused;
}