@import "tailwindcss";

@theme {
  --animate-marquesina: marquesina 40s linear infinite;
  --animate-marquesina-reverse: marquesina-reverse 45s linear infinite;
}
html, body {
  background-color: #103457;
}
a button {
  cursor: pointer;
}

/* Animaciones Marquesina */
/* Animaciones Marquesina */
@keyframes marquesina {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes marquesina-reverse {
  0%   { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-marquesina {
  animation: marquesina 90s linear infinite;
  display: flex;
  width: max-content;   /* ← acá sí va, en el elemento que tiene la animación */
}

.animate-marquesina-reverse {
  animation: marquesina-reverse 50s linear infinite;
  display: flex;
  width: max-content;
}

.animate-marquesina:hover,
.animate-marquesina-reverse:hover {
  animation-play-state: paused;
}

@keyframes waveSweep {
  0%   { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}